<div class="sim">Role: {{$root.userRole()}}</div>
<ion-tabs class="tabs-icon-only main-tabs">
  <ion-tab title="Dashboard" icon-off="ion-ios-speedometer" icon-on="ion-ios-speedometer" href="#/tab/dashboard">
    <ion-nav-view name="dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title="prize" icon-off="ion-podium" icon-on="ion-podium" href="#/tab/prize">
    <ion-nav-view name="prize"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search/appointment">
    <ion-nav-view name="search" class="search-nav-view"></ion-nav-view>
  </ion-tab>
  <ion-tab title="parameters" icon-off="ion-navicon" icon-on="ion-navicon" href="#/tab/parameters">
    <ion-nav-view name="parameters"></ion-nav-view>
  </ion-tab>
</ion-tabs>
