.appointment-list {

    .result {
        .header {
            background-color: $color_appointment;
            margin: 0 0 0 0;

            h3 {
                color: white;
                width: 100%;
                text-transform: uppercase;
            }

            &.header-technician {
                background-color: $color_service;
            }
        }

        .bilan {
            background-color: white;
        }

        .box {
            font-size: 0.8em;
            padding: $small_space;
            padding-left: 0;
            padding-right: 0;

            &.bilan {
                font-weight: bold;

                .title {
                    text-align: left;
                    font-style: normal;
                }

                .value {
                    text-align: left;
                }
            }

            .title {
                text-align: center;
                font-style: italic;
            }

            .value {
                text-align: center;
            }
        }

        .item {
            padding-right: 3px;
            padding-left: 3px;
            margin-bottom: $small_space;
            background-color: transparent;
        }
    }

    .row {
        margin-top: $small_space;
        margin-bottom: $small_space;
    }

    .hour-view {
        .list {
            .item {
                font-size: 0.8em;
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;

                .item-content {
                    padding: 3px;

                    .status {
                        font-style: italic;
                    }

                    .rescheduled {
                        color: $color_pands;
                    }

                    .inprogress {
                        color: $color_appointment;
                    }

                    .confirmed {
                        color: $color_appointment;
                    }

                    .absent {
                        color: $color_others;
                    }

                    .sale {
                        color: $color_sale;
                    }

                    .canceled {
                        color: $color_others;
                    }

                    .techappointment{
                        color: $color_service;
                    }
                }

                .value {
                    &.time {
                        font-weight: bold;
                    }

                    &.user {
                        font-weight: bold;
                    }
                }

                .username {
                    text-align: right;

                    .seller {
                        color: $color_sale;
                        background-color: white;
                    }

                    .technician {
                        color: $color_service;
                        background-color: white;
                    }
                }
            }
        }
    }

    .inProgress {
        color: $color_appointment;
    }

    .sale {
        color: $color_sale;
    }

    .service {
        color: $color_service;
    }

    .others {
        color: $color_others;
    }
}

.appointment-form {
 .client-prospect {
            color: color_sale;
        }

        .client {
            color: $color_tab_client;
        }

        .pands {
            color: $color_pands;
        }

        .calloperator {
            color: $color_appointment;
        }

        .seller {
            color: $color_sale;
        }

        .technician {
            color: $color_service;
        }

    .padding-shadow-1 {
        padding-left: $small_space;
        padding-right: $small_space;
    }

    .section {
        margin-bottom: $small_space;
        margin-top: $small_space;
    }

    .time {
        padding: 10px;
        font-style: italic;
        font-size: 1.0em;

        .hour {
            text-align: right;
        }

        .month {
            text-align: center;
        }
    }

    .sale {
        &.button-positive {
            background-color: $color_sale;
        }
    }
}
