.branch
{
  .avatar {
              position: relative;
              background-position: center;
              width: 100px;
              height: 100px;
              background-size: cover;
              background-color: lightgray;
          }
}
