.filter-client {
    .item {
        border-style: none;
    }
}

.client-list {
    .client-item {
        background-color: $color_background;
        border-top: none;
    }

    .item-content {
        background-color: white;
        padding: 0;
        margin-bottom: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .opt-btn-bckgnd-color {
        background-color: $color_background;
        color: $color_menu;
    }

    .address {
        font-size: 0.6em;
    }

    .name {
        font-weight: bold;
        font-size: 0.8em;
    }

    .type {
        font-style: italic;

        &.type-client {
            color: $color_sale;
        }

        &.type-retracted {
            color: $color_others;
        }

        &.type-prospect {
            color: $color_appointment;
        }
    }
}

.create-client {
    .pands {
        color: $color_pands;
        text-align: center;
        height: 80px;
        line-height: 80px;
        margin-top: 20px;
    }

    .prospect {
        &.button-positive {
            background-color: $color_appointment;
        }
    }

    .client {
        &.button-positive {
            background-color: $color_sale;
        }
    }

    .button-right {
        float: right;
    }
}
