.dashboard {
    background-color: whitesmoke;
    height: 100%;
    padding-bottom: 50px;

    .text-align-center {
        text-align: center;
    }

    .circle {
        width: 80px;
        height: 80px;
        background: white;
        border-radius: 50%;
        display: inline-block;
        border-color: $color_appointment;
        border-width: 5px;
        border-style: solid;

        .centered {
            text-align: center;
            padding-top: 25px;
            font-size: 25px;
            vertical-align: middle;
        }
    }

    .ranking {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        .box {
            padding: 0px 2px 0px 2px;

            .shadow-box {
                background-color: $color_appointment;
                height: 70px;
                text-align: center;
                color: white;
                position: relative;

                .value {
                    font-size: 18px;
                    font-weight: bold;
                }

                i {
                    top: 15px;
                    right: 20px;
                    font-size: 16px;
                    position: absolute;

                    &.same {
                        font-size: 20px;
                        transform: scaleX(1.5);
                    }

                    &.up {
                        transform: rotate(45deg) scaleY(2);
                    }

                    &.down {
                        transform: rotate(45deg) scaleY(2);
                    }
                }
            }
        }
    }

    .stat-box {
        text-align: center;
        padding: 10px;

        > * {
            background-color: white;
        }

        .item-value {
            text-align: center;
            margin: 3px;
        }

        .item-name {
            background-color: red;
            margin: 3px;
            color: white;
            padding-left: 5px;
            text-transform: capitalize;
        }

        .box {
            text-align: center;
        }

        .summary {
            font-size: 14px;
            font-weight: bold;

            .name, .value {
                margin: 2px;
            }
        }

        &.appointment {
            .summary {
                color: $color_appointment;
            }

            .item-name {
                background-color: $color_appointment;
            }
        }

        &.holding {
            .summary {
                color: $color_sale;
            }

            .item-name {
                background-color: $color_sale;
            }
        }

        &.facture {
            .summary {
                color: $color_sale;
            }

            .item-name {
                background-color: $color_sale;
            }
        }

        &.pands {
            .summary {
                color: $color_service;
            }

            .item-name {
                background-color: $color_service;
            }
        }

        &.ca {
            .summary {
                color: $color_sale;
            }

            .item-name {
                background-color: $color_sale;
            }
        }

        &.stock {
            .summary {
                color: $color_pands;
            }

            .item-name {
                background-color: $color_pands;
            }
        }
    }

    .stat {
        .button-bar {
            margin: 5px;

            .button {
                height: 35px;
                line-height: 35px;
                min-height: 35px;
                background-color: transparent;
                color: $color_menu;

                &.button-positive {
                    border-bottom: 4px solid $color_menu;
                }
            }
        }

        .two-band {
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;

            .band {

                > .shadow-box {
                    background-color: white;
                }

                text-align: center;

                .circle {
                    line-height: 70px;
                }

                .rect-container {
                    padding: 10px;

                    .rect {
                        background-color: #E9EAEC;

                        .value,
                        .title {
                            padding: 10px;
                        }
                    }
                }

                .block {
                    padding-top: 10px;
                }

                .value {
                    color: $color_appointment;
                    font-size: 18px;
                }
            }

            .left-band {
                padding-left: 10px;
                padding-right: 5px;
            }

            .right-band {
                padding-right: 10px;
                padding-left: 5px;
            }
        }

        .one-band {
            font-size: 16px;
            padding: 10px;

            > .shadow-box {
                background-color: white;
            }

            .block {
                margin-top: 10px;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 20px;

                > .title {
                    text-align: center;
                    font-weight: bold;
                }

                .row {
                    .value {
                        text-align: right;
                    }
                }

                &.block0 {
                    color: $color_service;
                }

                &.block1 {
                    .value {
                        text-align: center;
                    }

                    color: $color_sale;
                }

                &.block2 {
                    color: $color_pands;
                }
            }
        }
    }

    .stat-day {
        .summary {
            background-color: white;
            text-align: center;
            padding: 5px;
            font-size: 16px;

            .value {
                margin: 5px;
                font-weight: bold;
            }

            .title {
                margin: 5px;
            }

            .col1 {
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
            }
        }

        .appointment-summary-box {
            > .row {
                position: relative;

                .col0 {
                    padding: 10px;
                    color: $color_appointment;
                }

                .col2 {
                    padding: 10px;
                }
            }

            .doughnut-legend {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 80px;

                li {
                    display: inherit;
                    text-align: left;
                }
            }
        }
    }

    .dashboard-podium {
        background-color: white;
        color: white;
        text-align: center;

        .podium-title {
            background-color: green;
            font-size: 16px;

            &.director, .seller {
                background-color: $color_sale;
            }

            &.calloperator {
                background-color: $color_appointment;
            }

            &.technician {
                background-color: $color_service;
            }

            &.bar-podium {
                background-color: $color_sale;
            }
        }

        .podium-item {
            float: left;
            padding: 5px;

            .avatar {
                width: 100%;
                height: 0;
                background-position: center;
                background-size: 100%;
                padding-bottom: 100%;
                background-size: cover;
                border: 1px solid lightgray;
                position: relative;

                .overlay {
                    position: absolute;
                    background-color: gray;
                    height: 100%;
                    width: 100%;
                    opacity: 0.5;
                }

                .index {
                    position: absolute;
                    color: white;
                    font-size: 1.6em;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    bottom: 0;
                    left: 0;
                }
            }

            &.more {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-decoration: none;
            }
        }

        .director, .seller {
            .more {
                color: $color_sale;
            }
        }

        .calloperator {
            .more {
                color: $color_appointment;
            }
        }

        .technician {
            .more {
                color: $color_service;
            }
        }
    }

    &.calloperator {
        .stat-box {
            &.holding {
                .item-name {
                    background-color: $color_appointment;
                }

                .summary {
                    color: $color_appointment;
                }
            }
        }

        .two-band {
            .left-band {
                .value {
                    color: $color_sale;
                }
            }

            .right-band {
                .rect {
                    color: $color_appointment;
                }
            }
        }
    }

    &.seller {
        .ranking {
            .shadow-box {
                background-color: $color_sale;
            }
        }

        .two-band {
            .left-band {
                .value {
                    color: $color_others;
                }
            }

            .right-band {
                .circle {
                    border-color: $color_service;
                }

                .rect {
                    color: $color_appointment;
                }
            }
        }
    }

    &.director {
        .ranking {
            .shadow-box {
                background-color: $color_sale;
            }
        }

        .two-band {
            .left-band {
                .block2 {
                    .circle {
                        border-color: $color_service;
                    }
                }
            }
        }

        .summary {
            .col0 {
                .value {
                    color: $color_service;
                }
            }

            .col1 {
                .value {
                    color: $color_sale;
                }
            }

            .col2 {
                .value {
                    color: $color_others;
                }
            }
        }
    }

    &.technician {
        .ranking {
            .shadow-box {
                background-color: $color_service;
            }
        }

        .summary {
            .col0, .col2 {
                .value {
                    color: $color_service;
                }
            }

            .col1 {
                .value {
                    color: $color_others;
                }
            }
        }
    }

    &.ceo {
        .ranking {
            .left-rank {
                .shadow-box {
                    background-color: $color_sale;
                }
            }

            .right-rank {
                .shadow-box {
                    background-color: $color_service;
                }
            }
        }

        .summary {
            .col0 {
                .value {
                    color: $color_service;
                }
            }

            .col1 {
                .value {
                    color: $color_sale;
                }
            }

            .col2 {
                .value {
                    color: $color_others;
                }
            }
        }

        .two-band {
            .left-band {
                > .shadow-box {
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;

                    .block {
                        color: $color_pands;

                        &.block1 {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .row {
                            .title {
                                text-align: left;
                            }

                            .value {
                                text-align: right;
                                font-size: 16px;
                                color: $color_pands;
                            }
                        }
                    }
                }
            }
        }
    }
}
