.heading {
    height: 160px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    opacity: 0.7;

    .gauge {
        height: 100%;
        background-color: rgba(105, 105, 105, 0.5);

        &::before {
            content: "";
            display: block;
            height: 100%;
            border-bottom: 4px solid #30F6EC;
            background: url("../img/bs-gauge-right-glow.png") no-repeat right bottom transparent;
            background-size: 100% 80%;
        }
    }

        .title {
            position: absolute;
            top: 40px; //ne pas réduire la distance avec le top pour IOS
            width: 100%;
            text-align: center;
            font-size: 22px;
            color: white;

            > * {
                margin: 5px;
            }
        }

        .row-dashboard-header {
            position: absolute;
            bottom: 0px;
            font-size: 16px;
            color: white;
            font-weight: bold;
        }
}
