/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          red !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$stable: #213c61;
/*$positive:                        white;
$dark:                            darken($positive, 20);*/

// $positive: #213c61;
$positive: #213c61;
$calm: #3ca8e2;
$royal: #be82e8;
$balanced: #1fc187;

$dark: #213c61;
$button-stable-text: white;
$button-light-text: #213c61;
$base-color: #213c61;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "style";
