.login {

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

    .logo {
        padding: 50px 0;

        img {
            width: 25%;
            max-width: 200px;
            margin: 0 auto;
            display: table;
        }
    }

    /* Change the white to any color ;) */
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    input {
        text-align: center;
        font-size: 1.0em;
        font-style: normal;

        &:focus {
            border-left: 8px solid $stable;
        }

        -webkit-transition: all,.15s,ease-in;
        transition: all,.15s,ease-in;
    }

    .list {
        .item {
            border-bottom: none;
            border-top: none;
            padding-left: 3px;
            padding-right: 3px;
        }

        .item.item-input {
            background-color: transparent;
        }

        .forget-password {
            padding-top: 0;
        }
    }
}

.splash {
    margin-top: 50px;
    .vertical-align{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
}
