.pands-list {
    .pands-item {
        padding-top: 10px;
        padding-bottom: 10px;

        .money {
            text-align: right;
        }

        .quantity {
            text-align: right;
        }
    }
}
