.parameters{
  background-color: $color_background;
      .logo {
        img {
            width: 90%;
            max-width: 200px;
            margin: 0 auto;
            // display: table;
        }
    }
}
