@mixin header($bgcolor) {
    .bar-header {
        background-color: $bgcolor;

        .title {
            color: white;
            text-transform: uppercase;
        }
    }
}
.prize{
.body-content{
  background-color:gray;
}
}
