.profile-info-box {
    .value {
        margin: 0;
        text-align: center;
        font-weight: bold;
    }

    .name {
        margin: 0;
        margin-top: 3px;
        text-align: center;
        font-size: 0.9em;
    }
}

.profile {
    .profile-info-box {
        .value, .name {
            color: white;
        }

        .row {
            padding: 0px 0px 5px 0px;

            .shadow-box {
                background-color: $color_menu;
            }

            .box {
                padding: 2px;
            }
        }
    }

    &.profile-agence {
        .profile-info-box {
            .rindex-0 {
                .box {
                    padding-top: 0;
                }

                .shadow-box {
                    background-color: $color_appointment;
                }
            }

            .rindex-1 {
                .shadow-box {
                    background-color: $color_sale;
                }
            }

            .rindex-2 {
                .shadow-box {
                    background-color: $color_service;
                }
            }
        }
    }

    .button-bar {
        &.chart-labels {
            > .button {
                text-transform: capitalize;
                line-height: 30px;
                min-height: 30px;
                font-size: 0.8em;

                &:last-child {
                    border-radius: 0;
                }

                &:first-child {
                    border-radius: 0;
                }
            }
        }
    }

    .profile-sale-ratio {
        padding: 5px;

        .percentage {
            position: relative;
            height: 20px;

            > * {
                float: left;
                height: 100%;
            }

            .client-sale {
                text-align: center;
                color: white;
                background-color: $color_menu;
            }

            .prospect-sale {
                text-align: center;
                color: white;
                background-color: $color_sale;
            }
        }

        .prospect-sale-label {
            color: $color_sale;
            text-align: right;
        }
    }

    .profile-taux-chart {


        .profile-product-rank {
            padding: 5px;

            .product {
                float: left;
                margin-right: 20px;

                .name {
                    text-align: center;
                    white-space: nowrap;
                    margin-top: 5px;
                }

                .value {
                    position: absolute;
                    bottom: 31px;
                    padding: 2px 5px 2px 5px;
                    color: white;
                    background-color: $color_menu;
                    border-radius: 5px;
                }

                .avatar {
                    position: relative;
                    display: inline-block;
                    margin-left: 4px;
                    padding: 3px;
                    border-radius: 50%;
                    border: 3px solid lightgray;

                    > div {
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                        border: 3px solid lightgray;
                    }

                    .product-count {
                        position: absolute;
                        font-size: 2em;
                        top: 35px;
                        left: 35px;
                    }
                }

                .progress {
                    position: absolute;
                    bottom: 31px;
                }
            }

            .scroll-view {
                overflow: hidden;
            }

            .products {
                display: inline-block;
            }
        }

        .profile-appointment-history {
            .scroll-view {
                overflow: hidden;
            }

            .appointments {
                display: inline-block;

                .appointment {
                    width: 50px;
                    height: 50px;
                    float: left;
                    border-radius: 50%;
                    border: 1px solid lightgray;
                    margin: 10px;
                    text-align: center;
                    line-height: 50px;
                    position: relative;

                    &:after {
                        position: absolute;
                        font-size: 1.2em;
                        width: 100%;
                        top: 0px;
                        left: 0;
                    }

                    &.canceled {
                        &:after {
                            content: 'X';
                            color: $color_menu;
                        }
                    }

                    &.confirmed {
                        background-color: $color_sale;

                        &:after {
                            content: 'V';
                            color: white;
                        }
                    }

                    &.sale {
                        background-color: $color_menu;

                        &:after {
                            content: 'SS';
                            color: white;
                        }
                    }

                    &.negotiate {
                        background-color: $color_others;

                        &:after {
                            content: 'Négo';
                            color: white;
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}
