.sale-list {
    .result {
        .header {
            background-color: $color_sale;
            padding: 3px;

            h3 {
                color: white;
                width: 100%;
                text-transform: uppercase;
            }

            .title-small {
                font-size: 0.8em;
            }
        }

        .box {
            font-size: 0.8em;
            padding: $small_space;
            padding-left: 0;
            padding-right: 0;

            &.bilan {
                font-weight: bold;

                .title {
                    text-align: left;
                    font-style: normal;
                }
            }

            .title {
                text-align: center;
                font-style: italic;
            }

            .value {
                text-align: center;
            }
        }

        .item {
            padding-right: 3px;
            padding-left: 3px;
            margin-bottom: $small_space;
        }
    }

    .month-week-view {
        .item {
            color: $color_menu;
        }

        .row {
            margin-top: $small_space;
            margin-bottom: $small_space;

            strong {
                font-size: 0.6em;
            }
        }
    }

    .day-view {
        .list {
            .item {
                font-size: 1.0em;
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
                .item-content {
                    padding: 3px;

                    .status {
                        font-style: italic;
                    }

                    .payed {
                        color: $color_sale;
                    }

                    .canceled {
                        color: $color_others;
                    }

                    .service-provided {
                        color: $color_pands;
                    }

                    .current-service {
                        color: $color_service;
                    }

                    .service-completed {
                        color: $color_service;
                    }
                }

                .value {
                    &.time {
                        font-weight: bold;
                    }

                    &.user {
                        font-weight: bold;
                    }

                    &.ca {
                        text-align: right;
                        font-weight: bold;
                    }

                    &.fundingstatus {
                        text-align: right;
                    }
                }
            }
        }
    }
}
