.search {
    background-color: $color_background;

    .button-bar-white {
        background-color: white;

        .button {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    @mixin tab-style($color) {
        .tab-title {
            color: $color;
        }

        &.tab-item-active {
            border-bottom: 4px solid $color;
        }

        &.button-positive {
            color: darken($color,20);
            border-bottom: 4px solid $color;
            background-color: transparent;

            &.activated {
                background-color: transparent;
                color: darken($color,30);
            }
        }

        &.button {
            height: 35px;
            line-height: 35px;
            min-height: 35px;
            color: $color;
            background-color: transparent;
            border-radius: 0;

            &:hover {
                color: $color;
            }
        }
    }

    .appointment {
        @include tab-style($color_appointment)
    }

    .service {
        @include tab-style($color_service)
    }

    .sale {
        @include tab-style($color_sale)
    }

    .pands {
        @include tab-style($color_pands)
    }

    .client {
        @include tab-style($color_tab_client)
    }

    .tabs-light-style {
        .tabs {
            background-color: transparent;
            border: none;
            height: 40px;
            line-height: 50px;
        }
    }
}

.result {
    .list {
        .item {
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;

            .item-content {
                padding: 0;
            }

            margin-bottom: 10px;
        }
    }

    .item-options {
        .button-light:before {
            font-size: 2.0em;
        }
    }
}

$btnfilterheight: 30px;

.search-filter {

    .item:not(.first-item) {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    margin-bottom: 5px;

    .item-input-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .item {
        padding: 5px;
    }

    .create {
        text-align: right;
        width: 100%;
    }

    .search-filter-panel {
        .button {
            color: lighten(black,30);
            min-height: $btnfilterheight;
            height: $btnfilterheight;

            &:before {
                line-height: $btnfilterheight;
            }
        }
    }

    a {
        font-weight: bold;
    }
}

.platform-ios.platform-cordova:not(.fullscreen) .search-nav-view {
    margin-top: 20px;
}
