@mixin shadow_bottom() {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.seller {
    background-color: $color_background;

    .empty-div {
        height: 44px; //Utilisé pour laisser un espace pour la nav-bar-transparent
    }

    .verticalcenter {
        text-align: center;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .small-margin {
        margin: $small_space;
    }

    .seller-heading {
        display: inline-block;
    }

    .row-header {
        button {
            border: none;
        }

        .shadow-box {
            margin-right: $small_space;
            font-size: 0.8em;
        }

        .box {
            background-color: white;
            margin-right: $small_space;
            height: 55px;
            font-size: 1.2em;
        }

        .appointment {
            color: $color_appointment;
        }

        .sale {
            color: $color_sale;
        }

        .service {
            color: $color_service;
        }

        .current-view {
            position: relative;
            font-weight: bold;

            &:after {
                content: '';
                border-bottom: 4px solid;
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 10px;
            }
        }
    }

    .seller-appointment {
        .street {
            font-size: 0.8em;
        }

        .name {
            font-size: 1em;
            font-weight: bold;
        }

        .box {
            background-color: white;
        }

        .icon-large {
            font-size: 2.0em;
        }

        .text-small {
            font-size: 0.7em;
        }

        .clienttype {
            &.prospect {
                color: $color_appointment;
            }

            &.client {
                color: $color_sale;
            }
        }

        .row-app-list {
            .list {
                width: 100%;

                .event-item {
                    background-color: white;
                    font-style: italic;
                    font-size: 0.8em;
                    margin-bottom: $small_space;
                    padding: $small_space;

                    &.type-sellerApp {
                        color: $color_appointment;
                        border-color: $color_appointment;
                    }

                    &.type-techApp {
                        color: $color_service;
                        border-color: $color_service;
                    }

                    strong {
                        font-style: normal;
                        font-size: 1.2em;
                        box-shadow: none;
                    }

                    .status {
                        font-size: 0.8em;
                    }
                }
            }
        }

        .status-confirm {
            textarea {
                height: 60px;
                width: 100%;
                border: 1px solid lightgray;
                font-style: italic;
                padding: 5px;
            }

            button {
                height: 100%;
                font-weight: bold;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }

            .status {
                padding-left: 10px;
                padding-right: 10px;

                .box {
                    display: inline-block;
                    width: 20%;
                    padding: 3px;
                    margin: 5px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 1.0em;
                    height: 55px;
                    line-height: 55px;

                    &.cancel {
                        color: $color_others;
                    }

                    &.sale {
                        color: $color_sale;
                    }

                    &.negotiation {
                        color: $color_service;
                    }
                }
            }
        }
    }
}

.seller-techapp {
    padding: 5px;

    .header {
        background-color: $color_service;

        h3 {
            color: white;
            width: 100%;
            font-size: 17px;
        }
    }

    .service-items {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;

        .servicename {
            font-weight: bold;
        }

        .quantity {
            font-style: italic;
            text-align: center;
        }

        .stock {
            font-style: italic;
            text-align: center;
            color: $color_service;
        }

        .positivevalue {
            font-style: italic;
            text-align: center;
        }

        .negativevalue {
            font-style: italic;
            text-align: center;
            color: $color_others;
        }
    }

    .commentandgallery {
        padding-top: 10px;
        text-align: center;
        font-size: 12px;

        .comment {
            background-color: $color_menu;
            color: white;
            margin-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .gallery {
            border-width: 1px;
            border-style: solid;
            border-color: $color_menu;
            margin-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .commenttextarea {
        p {
            width: 100%;
            font-size: 12px;
            color: $color_menu;
            background-color: white;
        }
    }

    .techappstatus {
        button {
            color: $color_menu;
            background-color: white;
            border: none;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .completed {
            border-color: $color_menu;
            background-color: white;
            color: $color_service;
        }

        .border {
            border-style: solid;
            border-width: 1px;
            border-color: $color_menu;

            &.completed {
                border-color: $color_service;
            }
        }
    }
}

.seller-sale-set {

    .item {
        padding: 3px;
        margin: $small_space;
    }

    .item-accordion-header {
        border-style: solid;
        border-width: 2px;

        &.sale {
            border-color: $color_sale;
            color: $color_sale;
        }

        &.techapp {
            border-color: $color_service;
            color: $color_service;
        }
    }

    .textbox {
        width: 100%;
        height: 100%;
    }

    .status {
        font-size: 0.8em;
        font-style: italic;
    }

    .list .item.item-accordion {
        padding: 0;
        transition: 0.09s all linear;

        .quantity {
            font-style: italic;
            text-align: center;
        }

        .productQuantity {
            text-align: center;
        }

        .amount {
            font-style: italic;
            color: $color_sale;
            text-align: right;
        }

        .price {
            text-align: right;
        }

        .service {
            color: $color_service;
        }
    }

    .list .item.item-accordion.ng-hide {
        line-height: 0px;
    }

    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }

    .button-charge-sale {
        color: $color_sale;
        background-color: white;
    }

    .button-cancel-sale {
        color: $color_others;
        background-color: white;
    }

    .button-cancelCancellation-sale {
        color: $color_sale;
        background-color: white;
    }

    .actionbar {
        .shadow-box {
            vertical-align: middle;
            text-align: center;
            color: #fff;
            padding: 10px;
        }

        .canceled {
            background-color: $color_others;
        }

        .charge {
            background-color: $color_sale;
        }

        .edit {
            background-color: $color_menu;
        }
    }
}

.seller-sale-form {
    .productList {
        .item {
            border-style: none;
            background-color: $color_background;
        }
    }

    .row-margin {
        margin-bottom: 10px;
    }

    .row {
        .quantite {
            color: $color_pands;
            font-weight: bold;
            height: 100px;
        }

        .dealvalue {
            padding: 10px;
            height: 100px;

            input {
                color: $color_menu;
                font-size: 0.7em;
                width: 100%;
            }
        }
    }

    .button-add-product {
        color: $color_pands;
        font-weight: bold;
    }

    .button.button-positive {
        border-color: transparent;
        background-color: $color_sale;
        color: #fff;
    }

    .funding-switch {
        font-size: 1.0em;
    }
}

.row-price {
    text-align: center;
    // margin: 5px;
    // padding: 2px;
    border-color: transparent;
    background-color: $color_sale;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.box {
    background-color: white;
}

.note {
    h2 {
        font-size: 16px;
        font-weight: normal;
    }

    font-size: 12px;
    font-style: italic;

    textarea {
        width: 100%;
        font-style: italic;
    }
}
