$color_menu: #2b4e75;
$color_appointment: #be82e8;
$color_sale: #3ca8e2;
$color_service: #1fc187;
$color_pands: #E9BA91;
$color_tab_client: #EC77B2;
$color_others: #f26b79;
$color_background: #f5f5f8;

$color_podium_green: #64DD17;
$color_podium_yellow: #FFD54F;
$color_podium_orange: #FF8F00;
$color_podium_red: #F4511E;

$tabcoloractive: white;
$tabcolor: darken($tabcoloractive, 20);

.background-transparent {
    background-color: transparent;
}

.list {
    .item:not(.first-item) {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}

.item-input-wrapper {
    background-color: transparent;
    border-radius: 0;

    input {
        width: 100%;
    }
}

input {
    font-size: 1.0em;
    font-style: italic;
}

.shadow-box {
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.small-margin {
    margin-top: 20px !important;
}

$btnheight: 35px;

.bs-form {
    .switch {
        .button {
            font-size: 1.0em;
            min-height: $btnheight;
            height: $btnheight;
            line-height: $btnheight;
            // border: 1px solid gray;
            border-radius: 0;
        }
    }

    .left-input-container {
        padding-right: 5px;
    }

    .right-input-container {
        padding-left: 5px;
    }

    .row {
        margin-top: 5px;
    }
}

.small-map-container {
    margin: 0 auto;
    position: relative;

    .small-map {
        .angular-google-map-container {
            width: 150px;
            height: 150px;
        }

        margin: 0 auto;
        position: relative;

        .view-map {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 70px;
            background-color: white;
            padding: 10px;
        }
    }
}

.bs-tab-content {
    .scroll-content {
        top: 40px;
    }
}

.no-padding {
    padding: 0!important;
}


$small_space: 5px;

.padding-shadow-3 {
    padding-right: $small_space*2;
    text-align: center;
    vertical-align: middle;

    .shadow-box {
        margin-right: $small_space;
        padding: $small_space;
        font-size: 0.8em;
    }
}

.bar {
    .buttons {
        .back-text {
            display: none;
        }
    }
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.col-right{
  float: right;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


// nav-bar-transparent en doublon : NE PAS SUPPRIMER
// résoud le bug de border-bottom-width qui apparait.
// pas d'explication...
.nav-bar-transparent {
    background: rgba(255,255,255,0) !important;
}


.nav-bar-transparent {
    background-color: rgba(255,255,255,0) !important;
    border-bottom-width: 0 !important;

    .buttons {
        .back-text {
            display: none;
        }
    }

    .title {
        display: none;
    }
}

.behide-nav-bar {
    top: 0;
}

.hyperlink {
    text-decoration: none;
    cursor: pointer;
}

.center-align-container {
    height: 70px;
    width: 100%;
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.sim {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: white;
    padding: 0px 3px 0px 3px;
    opacity: 0.5;
    display: none;
}

.clip-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.camel {
    text-transform: capitalize;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.avatar-archived {
    opacity: 0.3;
}

@import "tabs";
@import "search";
@import "login-splash";
@import "sale";
@import "seller";
@import "appointment";
@import "heading";
@import "dashboard";
@import "pands";
@import "prize";
@import "client";
@import "profile";
@import "userprofile";
@import "parameters";
@import "manage";
@import "override";
@import "branch";
@import "company";
@import "svg-progressbar";
