.popover-more {
    width: 180px;

    &.three {
        height: 170px;
    }

    &.two {
        height: 120px;
    }
}

.main-tabs {
    background-color: $color_menu;

    .tabs {
        .tab-item {
            color: $tabcolor;

            &.activated {
                color: $tabcolor;
            }

            &.tab-item-active {
                color: $tabcoloractive;
            }
        }
    }
}
