.userprofile{
  // background-color: $color_background;

.align-right{
  text-align: right;
}

.day-off-interval{
font-size:1.0em;
}

  .avatar {
              position: relative;
              background-position: center;
              width: 100px;
              height: 100px;
              background-size: cover;
              background-color: lightgray;
          }
.role-company-card{
  color:white;
  &.ceo{
      background-color:$color_menu;
    }

  &.director{
      background-color:$color_sale;
    }

    &.seller{
      background-color:$color_sale;
    }

    &.calloperator{
      background-color:$color_appointment;
    }

    &.technician{
      background-color:$color_service;
    }
}


  .company-branch-name{
    font-weight: bold;
    font-style: oblique;
    }

}

