<ion-view view-title="{{vm.viewTitle}}" hide-nav-bar="false">
  <ion-content>

    <h3>Changement du mot de passe de l'utilisateur : {{vm.userProfile.firstName}} {{vm.userProfile.lastName}}</h2>

      <form name="form" novalidate>
        <div class="list">

          <label class="item item-input item-floating-label">
    <span class="input-label">Ancien mot de passe</span>
    <input type="password" placeholder="Ancien mot de passe" ng-model="vm.changePasswordBindingModel.oldPassword" name="oldPassword" ng-minlength="6" required>
  </label>
          <div ng-show="form.$submitted || form.oldPassword.$touched">
            <div ng-show="form.oldPassword.$error.required">Ancien mot de passe requis.</div>
            <div ng-show="form.oldPassword.$error.minlength">Au moins 6 caractères.</div>
          </div>

          <label class="item item-input item-floating-label">
    <span class="input-label">Nouveau mot de passe</span>
    <input type="password" placeholder="Nouveau mot de passe" ng-model="vm.changePasswordBindingModel.newPassword" name="newPassword" ng-minlength="6" required>
  </label>
          <div ng-show="form.$submitted || form.newPassword.$touched">
            <div ng-show="form.newPassword.$error.required">Nouveau mot de passe requis.</div>
            <div ng-show="form.newPassword.$error.minlength">Au moins 6 caractères.</div>
          </div>

          <label class="item item-input item-floating-label">
    <span class="input-label">Confirmer le nouveau mot de passe</span>
    <input type="password" placeholder="Confirmer le nouveau mot de passe" ng-model="vm.changePasswordBindingModel.confirmPassword"
    ui-validate=" '$value==vm.changePasswordBindingModel.newPassword' " ui-validate-watch=" 'vm.changePasswordBindingModel.newPassword' " name="confirmPassword" required>
  </label>
          <div ng-show="form.$submitted || form.confirmPassword.$touched">
            <div ng-show="form.confirmPassword.$error.required">Confirmation du nouveau mot de passe requise.</div>
            <span ng-show='form.confirmPassword.$error.validator'>Les mots de passe doivent correspondre.</span>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-25 col-offset-75">
          <button type="submit" ng-disabled="form.$invalid" ng-click="vm.submit()" class="button button-clear button-positive icon ion-checkmark"></button>
        </div>
      </div>
  </ion-content>

</ion-view>
