<ion-view view-title="{{vm.viewTitle}}" hide-nav-bar="false">
  <ion-content class="userprofile padding">

    <ion-refresher pulling-text="Actualiser le profil..." on-refresh="vm.doRefresh()">
    </ion-refresher>

    <div ng-if="vm.isEditView()">
      <div class="row">
        <div class="col col-offset-33 col-center">
          <div class="avatar" ng-class="{'avatar-archived' : vm.userProfile.archived}" style="background-image: url({{vm.userProfile.photoId|photopath}});"
            ng-click="vm.showPicturePopover($event)">
          </div>
        </div>
      </div>

      <div ng-show="vm.imageData">
        <img class="center" height="200" width="200" ng-src="{{'data:image/jpeg;base64,' + vm.imageData}}" />
        <div class="row">
          <div class="col-50">
            <button class="button button-block button-clear button-assertive icon ion-ios-close-outline icon-left" ng-click="vm.cancelPhoto()">Annuler</button>
          </div>
          <div class="col-50">
            <button class="button button-block button-clear button-balanced icon ion-ios-upload-outline icon-right" ng-click="vm.sendPhoto()">Envoyer</button>
          </div>
        </div>
      </div>
    </div>

    <p ng-show="vm.errors.lenght > 0">{{vm.errors}}</p>

    <div class="card" ng-show="vm.userProfile.archived">
      <div class="item item-text-wrap">
        {{vm.userProfile.lastName}} {{vm.userProfile.firstName}} est archivé.
      </div>
    </div>

    <form name="form" ng-hide="vm.userProfile.archived" novalidate>
      <div class="list">

        <div class="row no-padding">
          <div class="col col-50 no-padding">
            <label class="item item-input item-floating-label">
    <span class="input-label">Nom</span>
    <input type="text" placeholder="Nom" ng-model="vm.userProfile.lastName" name="lastName" required>
  </label>
            <div ng-show="form.$submitted || form.lastName.$touched">
              <div ng-show="form.lastName.$error.required">Nom requis.</div>
            </div>
          </div>
          <div class="col col-50 no-padding">
            <label class="item item-input item-floating-label">
    <span class="input-label">Prénom</span>
    <input type="text" placeholder="Prénom" ng-model="vm.userProfile.firstName" name="firstName" required>
  </label>
            <div ng-show="form.$submitted || form.firstName.$touched">
              <div ng-show="form.firstName.$error.required">Prénom requis.</div>
            </div>
          </div>
        </div>

        <label class="item item-input item-floating-label">
    <span class="input-label">Téléphone</span>
    <input type="tel" placeholder="Téléphone" ng-model="vm.userProfile.phone"  name="phone" required>
  </label>
        <div ng-show="form.$submitted || form.phone.$touched">
          <div ng-show="form.phone.$error.required">Téléphone requis.</div>
          <div ng-show="form.phone.$error.tel">Téléphone invalide.</div>
        </div>

        <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email" ng-model="vm.userProfile.email" name="email" required>
  </label>
        <div ng-show="form.$submitted || form.email.$touched">
          <div ng-show="form.email.$error.required">Email requis.</div>
          <div ng-show="form.email.$invalid && !form.email.$pristine">Doit être une adresse email.</div>
        </div>

        <div ng-if="vm.isCreateView()">
          <label class="item item-input item-floating-label">
    <span class="input-label">Mot de passe</span>
    <input type="password" placeholder="Mot de passe" ng-model="vm.userProfile.password" name="password" ng-minlength="6" required>
  </label>
          <div ng-show="form.$submitted || form.password.$touched">
            <div ng-show="form.password.$error.required">Mot de passe requis.</div>
            <div ng-show="form.password.$error.minlength">Au moins 6 caractères.</div>
          </div>

          <label class="item item-input item-floating-label">
    <span class="input-label">Confirmer le mot de passe</span>
    <input type="password" placeholder="Confirmer le mot de passe" ng-model="vm.userProfile.confirm_password"
    ui-validate=" '$value==vm.userProfile.password' " ui-validate-watch=" 'vm.userProfile.password' " name="confirm_password" required>
  </label>
          <div ng-show="form.$submitted || form.confirm_password.$touched">
            <div ng-show="form.confirm_password.$error.required">Confirmation du mot de passe requise.</div>
            <span ng-show='form.confirm_password.$error.validator'>Les mots de passe doivent correspondre.</span>
          </div>
        </div>

        <div class="card" ng-if="vm.isCreateView()">
          <div class="item item-divider">
            Rôle
          </div>
          <div class="item item-text-wrap">
            <ion-radio ng-repeat="role in vm.roleSet" ng-value="role.value" ng-model="vm.userProfile.role" name="role-set">{{role.text}}</ion-radio>
          </div>
        </div>

        <div class="card" ng-if="vm.showBranch()">
          <div class="item item-divider">
            Agence
          </div>
          <div class="item item-text-wrap">
            <ion-radio ng-repeat="branch in vm.branchSet | orderBy:'name'" ng-value="branch.id" ng-model="vm.userProfile.branchId" required
              name="branch-set">{{branch.name}}</ion-radio>
          </div>
        </div>

      </div>
    </form>

    <form name="formBigZ" ng-hide="vm.userProfile.archived" ng-if="vm.isEditedUserSameAsCurrentUser()" novalidate>
      <div class="list">

        <div class="row no-padding">
          <div class="col col-90 no-padding">
            <label class="item item-input item-floating-label">
    <span class="input-label">BigZ</span>
    <input type="text" placeholder="BigZ" ng-model="vm.userProfile.bigZ" name="bigZ" ng-minlength="1" ng-maxlength="30" required>
  </label>
            <div ng-show="formBigZ.$submitted || formBigZ.bigZ.$touched">
              <div ng-show="formBigZ.bigZ.$error.minlength">Au moins 1 caractère.</div>
              <div ng-show="formBigZ.bigZ.$error.maxlength">Max 30 caractères.</div>
            </div>
          </div>
          <div class="col col-10 col-center no-padding">
            <button type="submit" ng-disabled="formBigZ.$invalid" ng-click="vm.putBigZ()" class="button button-clear button-positive icon ion-ios-compose-outline"
              ng-hide="vm.userProfile.archived"></button>
          </div>
        </div>
      </div>
    </form>

    <div class="card" ng-if="vm.isEditView()">
      <div class="item item-text-wrap role-company-card {{vm.userProfile.role | lowercase}}">
        {{vm.userProfile.role|roletext}}<br>
        <span class="company-branch-name">{{vm.userProfile.companyName | uppercase}} {{vm.userProfile.branchName | uppercase}}</span>
      </div>
    </div>

    <biz-user-days-off biz-user-profile="vm.userProfile" ng-if="vm.showDaysOff()"></biz-user-days-off>

    <div class="card" ng-if="vm.isEditView()" ng-click="vm.changePassword()">
      <div class="item item-text-wrap">
        <a>Modifier le mot de passe</a>
      </div>
    </div>

    <div class="row">
      <div class="col-25" ng-show="vm.showArchive()">
        <button class="button button-clear button-assertive icon ion-archive" ng-hide="vm.userProfile.archived" ng-click="vm.archive()">Archiver</button>
        <button class="button button-clear button-balanced icon ion-share" ng-show="vm.userProfile.archived" ng-click="vm.unarchive()">Rétablir</button>
      </div>
      <div class="col-25" ng-class="{'col-offset-50': vm.showArchive(), 'col-offset-75': !vm.showArchive()}">
        <button type="submit" ng-disabled="form.$invalid" ng-click="vm.submit()" class="button button-clear button-positive icon ion-checkmark"
          ng-hide="vm.userProfile.archived"></button>
      </div>
    </div>
  </ion-content>

  <script id="popover-picture" type="text/ng-template">
        <ion-popover-view class="bs edition-modal">
            <ion-header-bar>
                <h1 class="title">Source</h1>
                <button class="button button-clear button-assertive icon ion-close" ng-click="vm.pop.hide($event)"></button>
            </ion-header-bar>
            <ion-content>
                <button class="button button-full button-dark" ng-click="vm.takePhoto()">
                    <i class="icon ion-camera"></i> Capturer Photo
                </button>
                <button class="button button-full button-dark" ng-click="vm.selectPhoto()">
                    <i class="icon ion-grid"></i> Galerie
                </button>
            </ion-content>
        </ion-popover-view>
  </script>

</ion-view>
