<button class="button button-full button-light left-text shadow-box small-margin icon-right" ng-class="{'ion-chevron-down': vm.isDivShown, 'ion-chevron-right': !vm.isDivShown}"
  ng-click="vm.toggleDiv()">
  Absences
</button>

<div ng-show="vm.isDivShown">
  <ion-list class="card">
    <ion-item ng-show="!vm.dayOffSet.length" class="shadow-box">
      Aucune absence.
    </ion-item>
    <ion-item ng-repeat="dayOffInterval in vm.dayOffSet | orderBy:'startDate'" class="shadow-box day-off-interval">
      {{dayOffInterval | dayoffintervaldisplay}}
      <ion-option-button class="icon ion-ios-close-outline" ng-click="vm.removeDayOffInterval(dayOffInterval)"></ion-option-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="no-padding shadow-box">
      <form name="dayOffForm">
        <div class="row">
          <div class="col col-33">
            <label for="startDate">Absent du</label>
            <input type="date" id="startDate" name="startDate" ng-model="vm.newDayOffInterval.startDate" placeholder="yyyy-MM-dd" min="vm.userProfile.createdDate"
              max="vm.maxDate" required />
            <div role="alert">
              <span class="error" ng-show="dayOffForm.startDate.$error.required">
         Requis!</span>
              <span class="error" ng-show="dayOffForm.startDate.$error.date">
         Date invalide!</span>
            </div>
          </div>
          <div class="col col-33">
            <label for="endDate">au</label>
            <input type="date" id="endDate" name="endDate" ng-model="vm.newDayOffInterval.endDate" placeholder="yyyy-MM-dd" min="vm.newDayOffInterval.startDate"
              max="vm.maxDate" required />

            <div role="alert">
              <span class="error" ng-show="dayOffForm.endDate.$error.required">
         Requis!</span>
              <span class="error" ng-show="dayOffForm.endDate.$error.date">
         Date invalide!</span>
            </div>
          </div>
          <div class="col col-33 col-bottom align-right">
            <button type="submit" ng-disabled="dayOffForm.$invalid" ng-click="vm.addDayOffInterval()" class="button button-clear button-positive icon ion-checkmark"></button>
          </div>
        </div>
      </form>
    </ion-item>
  </ion-list>
</div>
