<ion-view view-title="Recherche" hide-nav-bar="true" class="search">
  <div class="button-bar button-bar-white switch">
    <a class="button button-light appointment" ng-class="{'button-positive': vm.chosen('appointment'), 'appointment':vm.appointmentStyle(), 'service':vm.serviceStyle()}" ng-click="vm.goto('appointment')">RDV</a>
    <a class="button button-light sale" ng-if="vm.showSale()" ng-class="{'button-positive': vm.chosen('sale')}" ng-click="vm.goto('sale')">VENTE</a>
    <a class="button button-light pands" ng-if="vm.showPands()" ng-class="{'button-positive': vm.chosen('pands')}" ng-click="vm.goto('pands')">P&S</a>
    <a class="button button-light client" ng-if="vm.showClients()"
      ng-class="{'button-positive': vm.chosen('client')}" ng-click="vm.goto('client')">CLIENT</a>
  </div>
  <div class="bs-tab-content" ng-show="vm.chosen('appointment')">
    <ng-include src="'app/appointment/list/appointment-list.html'"></ng-include>
  </div>
  <div class="bs-tab-content" ng-if="vm.showSale()" ng-show="vm.chosen('sale')">
    <ng-include src="'app/sale/sale-list.html'"></ng-include>
  </div>
  <div class="bs-tab-content" ng-if="vm.showPands()" ng-show="vm.chosen('pands')">
    <ng-include src="'app/pands/pands-list.html'"></ng-include>
  </div>
  <div class="bs-tab-content" ng-if="vm.showClients()" ng-show="vm.chosen('client')">
    <ng-include src="'app/client/client-list.html'"></ng-include>
  </div>
</ion-view>
