<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="login padding-horizontal">
    <div class="list">
      <div class="item logo">
        <img src="img/bigstat-logo-square-text-deep-blue.svg" alt="BigStat App">
      </div>
      <label class="item item-input input-background-color">
                <span class="input-label hide">Courriel</span>
                <input class="no-padding" type="email" placeholder="Courriel" ng-model="vm.email" />
            </label>

      <label class="item item-input">
                <span class="input-label hide">Mot de passe</span>
                <input class="no-padding" type="password" placeholder="Mot de passe" ng-model="vm.password" />
            </label>

      <div>
        <p class="text-center" ng-if="vm.loginFail">Echec de la connexion.</p>
        <p class="text-center" ng-if="vm.loginFail">Étape 1 : Vérifiez que vous pouvez vous connecter à Internet.</p>
        <p class="text-center" ng-if="vm.loginFail">Étape 2 : Entrez à nouveau vos nom d'utilisateur et mot de passe.</p>
      </div>

    </div>
    <button class="button button-full button-positive" ng-click="vm.login()">Me connecter</button>
  </ion-content>
</ion-view>
