<ion-view view-title="Palmares" hide-nav-bar="true" class="prize" >
  <!-- <ion-slide-box show-pager="false"> -->
  <ion-slides slider="vm.swiper" options="vm.swiperOptions">
      <ion-slide-page ng-class="{'first-slide': $first, 'last-slide': $last}" ng-repeat="role in vm.roleSet">
          <div class="bar bar-header bar-light">
      
              <!-- <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-chevron-right"></button>
              </ion-nav-buttons> -->
              <!-- <ion-icon name="arrow-forward"></ion-icon> -->
              

              
              <button pull-right clear class="custom-icon-arrow" ng-click="vm.nextSlide(role)" ng-if="role == 'director'">
                <i  class="icon ion-chevron-right icon-accessory "></i>    
              </button>
              <button ng-hide="role == 'director'" pull-right clear class="custom-icon-arrow" ng-click="vm.nextSlide(role)" ng-if="role == 'calloperator' ">
                <i  class="icon ion-chevron-right icon-accessory "></i>    
              </button>
              <button class= "custom-icon-arrow-left" left ng-click="vm.prev(role)" ng-if="role == 'technician'" clear>
                <i  ng-click="vm.prev(role)" ng-if="role != 'director'" class="icon ion-chevron-left icon-accessory pull-right "></i>    
              </button>
              <button ng-hide="role == 'technician'" class="custom-icon-arrow-left" left ng-click="vm.prev(role)" ng-if="role == 'calloperator'" clear>
                <i  ng-click="vm.prev(role)" ng-if="role != 'director'" class="icon ion-chevron-left icon-accessory pull-right "></i>    
              </button>
              
              
                <!-- <h1 class="title">{{vm.role|roletext}}</h1> -->
          </div>
      	<biz-prize-list biz-role="{{role}}" ></biz-prize-list>
      </ion-slide-page>
    <!-- </ion-slide-box> -->
    </ion-slides>
</ion-view>


 <!-- </div> -->
 
                <!--<div role="tabpanel" class="tab-pane active" id="home">
                    <div class="tab-body">
                        <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Type1_07.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">1</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                        <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Photo1_03.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">2</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                         <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Photo2_03.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">3</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                     </div>
                </div> 
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="tab-body">
                         <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Photo1_03.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">1</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                        <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Type1_07.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">2</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                       <div class="tab-body-item">
                            <div class="item-left">
                                <div class="media media-item">
                                    <div class="media-left">
                                        <img src="img/Profile-Photo2_03.jpg" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h1 class="media-heading">John <span class="text-light">Doe</span></h1>
                                        <p>Lorem ipsum...</p>
                                    </div>
                                </div>
                                <div class="round-counter">3</div>
                            </div>
                            <div class="item-right"><span>65</span></div>
                        </div>
                  </div>
                </div> 
            </div>

        </div>
    </div>
</ion-content>
</ion-view>