<div class="small-map" ng-controller="SmallMapController as vm">
	<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>
	<div class="view-map shadow-box">voir la map</div>
</div>
