<ion-view view-title="{{vm.title}}" hide-nav-bar="false" cache-view="false">
  <ion-content class="parameters">
    <!--<ion-list>
      <ion-item ng-click="vm.myBigStat()" class="item-icon-left item-icon-right">
        <i class="icon ion-person"></i> My BigStat <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-ios-people-outline"></i> Gérer <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right disabled">
        <i class="icon ion-android-share-alt"></i>Mes partenaires <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ng-click="vm.privacy()">
        <i class="icon ion-ios-information-outline"></i>Politique d'utilisation <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>-->

    <!--<div class="list card">
      <ion-item ng-click="vm.myBigStat()" class="item-icon-left item-icon-right">
        <i class="icon ion-person"></i> My BigStat <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-ios-people-outline"></i> Gérer <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right disabled">
        <i class="icon ion-android-share-alt"></i>Mes partenaires <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ng-click="vm.privacy()">
        <i class="icon ion-ios-information-outline"></i>Politique d'utilisation <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>-->



    <button class="button button-full button-assertive" ng-click="vm.logout()">
       Déconnexion
  </button>
    <div class="row">
      <div class="col col-20 col-offset-80">
        <div class="logo">
          <img src="img/bigstat-logo-square-text-sky-blue.svg" alt="BigStat App">
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
