﻿<ion-view view-title="" class="profile profile-{{vm.profile.role}}">
  <ion-nav-bar class="nav-bar-transparent">
  </ion-nav-bar>
  <ion-nav-buttons side="primary">
    <button class="button icon ion-chevron-left button-clear button-dark" ng-click="vm.goToPrize()">
      </button>
  </ion-nav-buttons>
</ion-view>
