<ion-view view-title="{{vm.viewTitle}}" hide-nav-bar="false">
  <ion-content class="manage padding">

    <div class="list search-filter">
      <div class="item item-input-inset search-filter-panel first-item">
        <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="rechercher..." ng-model="vm.searchText" ng-change="vm.activeSearch()">
    </label>
        <a class="button button-positive button-clear icon ion-ios-personadd-outline" ng-click="vm.addUserProfile()"></a>
      </div>
    </div>

    <ion-list class="card" ng-show="vm.isSearchActive">
      <ion-item ng-repeat="userProfile in vm.userProfileSet | filter:vm.searchText | orderBy:'fullName' | orderBy:'archived'" class="item-thumbnail-left item-icon-right"
        ng-click="vm.goToUserProfileCreate(userProfile.id)">
        <img ng-src="{{userProfile.photoId|photopath}}" ng-class="{'avatar-archived' : userProfile.archived}">
        <h2>{{userProfile.fullName}}</h2>
        <p>{{userProfile.branchName}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <biz-manage-branch-list ng-hide="vm.isSearchActive" ng-if="vm.showBranch()"></biz-manage-branch-list>
    <biz-manage-userprofile-list biz-role="{{role}}" ng-repeat="role in vm.roleSet" ng-hide="vm.isSearchActive"></biz-manage-userprofile-list>
  </ion-content>
</ion-view>
