<ion-view view-title="{{vm.viewTitle}}" hide-nav-bar="false">
  <ion-content class="company">

    <ion-refresher pulling-text="Actualiser la société..." on-refresh="vm.doRefresh()">
    </ion-refresher>



    <div ng-if="vm.isEditView()">
      <div class="row">
        <div class="col col-offset-33 col-center">
          <div class="avatar" style="background-image: url({{vm.company.photoId|photopath}});" ng-click="vm.showPicturePopover($event)">
          </div>
        </div>
      </div>

      <div ng-show="vm.imageData">
        <img class="center" height="200" width="200" ng-src="{{'data:image/jpeg;base64,' + vm.imageData}}" />
        <div class="row">
          <div class="col-50">
            <button class="button button-block button-clear button-assertive icon ion-ios-close-outline icon-left" ng-click="vm.cancelPhoto()">Annuler</button>
          </div>
          <div class="col-50">
            <button class="button button-block button-clear button-balanced icon ion-ios-upload-outline icon-right" ng-click="vm.sendPhoto()">Envoyer</button>
          </div>
        </div>
      </div>
    </div>

    <form name="form" novalidate>
      <div class="list">

        <label class="item item-input item-floating-label">
    <span class="input-label">Nom</span>
    <input type="text" placeholder="Nom" ng-model="vm.company.name" name="name" required>
  </label>
        <div ng-show="form.$submitted || form.name.$touched">
          <div ng-show="form.name.$error.required">Nom requis.</div>
        </div>

        <label class="item item-input item-floating-label">
    <span class="input-label">Téléphone</span>
    <input type="tel" placeholder="Téléphone" ng-model="vm.company.phone"  name="phone">
  </label>
        <div ng-show="form.$submitted || form.phone.$touched">
          <div ng-show="form.phone.$error.tel">Téléphone invalide.</div>
        </div>

        <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email" ng-model="vm.company.email" name="email">
  </label>
        <div ng-show="form.$submitted || form.email.$touched">
          <div ng-show="form.email.$invalid && !form.email.$pristine">Doit être une adresse email.</div>
        </div>

        <div class="row">
          <div class="item-input-wrapper shadow-box">
            <ion-google-place placeholder="Adresse" ng-model="vm.company.address.text" location-changed="vm.locationchanged" radius='1500000'
            />
          </div>
        </div>

      </div>
    </form>

    <div class="row">
      <div class="col-25 col-offset-75">
        <button type="submit" ng-disabled="form.$invalid" class="button button-clear button-positive icon ion-checkmark" ng-click="vm.submit()"></button>
      </div>
    </div>
  </ion-content>

  <!--TODO : refacto code commun user, branch, company-->
  <script id="popover-picture" type="text/ng-template">
        <ion-popover-view class="bs edition-modal">
            <ion-header-bar>
                <h1 class="title">Source</h1>
                <button class="button button-clear button-assertive icon ion-close" ng-click="vm.pop.hide($event)"></button>
            </ion-header-bar>
            <ion-content>
                <button class="button button-full button-dark" ng-click="vm.takePhoto()">
                    <i class="icon ion-camera"></i> Capturer Photo
                </button>
                <button class="button button-full button-dark" ng-click="vm.selectPhoto()">
                    <i class="icon ion-grid"></i> Galerie
                </button>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>
