﻿<div>

	<div class="item item-animate gallery-frame">

		<div ng-repeat="image in vm.images">
			<div class="square square-30" ng-class="image.imageClass">
				<div class="content-table">
					<div class="square-table">
						<div class="table-cell">
							<button ng-if="vm.candelete" class="button button-clear deleteButton icon ion-trash-a" ng-click="vm.deletephoto(image.id)"></button>
							<button ng-if="!image.fullScreen" class="button button-clear fullButton icon ion-arrow-expand" ng-click="vm.fullphoto(image.index)"></button>
							<button ng-if="image.fullScreen" class="button button-clear fullButton icon ion-arrow-shrink" ng-click="vm.resetphoto(image.index)"></button>
							<img class="rs" ng-src="{{image.id|photopath}}" />
							<div>{{image.tag}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="square square-98" ng-show="vm.newphoto" ng-click="vm.sendphoto()">
			<div class="content-table">
				<div class="table">
					<div class="table-cell">
						<div><i class="icon ion-ios-cloud-upload-outline"></i>Sauvegarder</div>
						<img class="rs" ng-src="{{'data:image/jpeg;base64,' + vm.newphoto}}" />
					</div>
				</div>
			</div>
		</div>

		<div class="addButton">
			<button class="button button-add rounded icon ion-ios-camera-outline" style="background-color:rgba(50, 61, 135, .7);color:white"
				ng-click="vm.addphoto($event)">
                <span class=" hide">
                    Ajouter
                </span>
            </button>
		</div>

	</div>

	<style>
		.gallery-frame {
			padding: 0px;
			padding-bottom: 35px;
			min-height: 125px;
		}

		.square {
			box-shadow: #323D87 1px 2px 15px;
			float: left;
			position: relative;
			background-color: none;
			overflow: hidden;
			text-align: center;
			transition: 1s;
		}

		.square-30 {
			width: 30%;
			padding-bottom: 30%;
			/* = width for a 1:1 aspect ratio */
			margin: 1.66%;
		}

		.square-98 {
			width: 80%;
			padding-bottom: 80%;
			/* = width for a 1:1 aspect ratio */
			margin: 1%;
		}

		.content-table {
			position: absolute;
			height: 90%;
			/* = 100% - 2*5% padding */
			width: 100%;
			/* = 100% - 2*5% padding */
			padding: 5px;
			text-align: center;
		}

		.content-table .rs {
			width: auto;
			height: auto;
			max-height: 80%;
			max-width: 80%;
		}

		.square-table {
			display: table;
			width: 100%;
			height: 100%;
		}

		.table-cell {
			display: table-cell;
			vertical-align: middle;
		}

		.deleteButton {
			position: absolute;
			right: 0px;
			top: 0px;
			margin: 5px;
			text-shadow: #000000 1px 1px 3px !important;
			color: #f0f0f0 !important;
			min-width: 0px;
		}

		.fullButton {
			position: absolute;
			left: 0px;
			top: 0px;
			margin: 5px;
			text-shadow: #000000 1px 1px 3px !important;
			color: #f0f0f0 !important;
			min-width: 0px;
		}

		.sendButton {
			position: absolute;
			bottom: 10px;
			left: 10px;
			font-size: 35px;
			text-shadow: #000000 1px 1px 3px !important;
			color: #f0f0f0 !important;
			min-width: 0px;
		}

		.addButton {
			position: absolute;
			bottom: 0px;
			right: 0px;
			margin: 5px;
		}

		.item-animate.ng-hide {
			height: 0;
			opacity: 0;
			padding: 0;
		}

		.item-animate.ng-hide-remove,
		.item-animate.ng-hide-add {
			display: block !important;
			transition: all linear 700ms;
		}
	</style>

</div>
