<div class="item item-input-inset search-filter-panel first-item">
  <label class="item-input-wrapper">
        <input type="text" placeholder="rechercher..." ng-change="vm.textchanged()" ng-model="vm.text">
    </label>
  <a class="button button-icon icon ion-ios-settings" ng-click="vm.gotoFilter()" ng-show="vm.showFilter"></a>
</div>
<div class="clip-text">
  <span ng-repeat="criteria in vm.criterias.multiple">{{criteria|codetext}}{{$last ? '.' : ', '}}</span>
  <span ng-if="vm.criterias.sort">{{vm.criterias.sort|codetext}}</span>
  <span ng-if="vm.criterias.sort && vm.criterias.single">, </span>
  <span ng-if="vm.criterias.single">{{vm.criterias.single|codetext}}</span>
</div>
