<ion-view view-title="{{vm.title}}" class="filter-client">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.submit()"><i class="icon ion-checkmark"></i></button>
    </ion-nav-buttons>
    <ion-content class="filter-client">
        <div class="card">
            <div class="item item-divider">
                {{vm.multipleText}}:
            </div>
            <div class="item no-padding" ng-if="vm.multiple">
                <ion-checkbox ng-repeat="it in vm.multiple" ng-model="it.checked">{{it.code|codetext}}</ion-checkbox>
            </div>
            <div class="item no-padding" ng-if="vm.sorts">
                <ion-radio name="sort" ng-repeat="it in vm.sorts" ng-model="vm.sort" ng-value="it.code" >{{it.code|codetext}}</ion-radio>
            </div>
            <div class="item item-divider">
                {{vm.singleText}}:
            </div>
            <div class="item no-padding">
                <ion-radio name="single" ng-repeat="it in vm.single" ng-model="vm.singleChoice" ng-value="it.code" >{{it.code|codetext}}</ion-radio>
            </div>
        </div>
    </ion-content>
</ion-view>
