<ion-view view-title="Splash" hide-nav-bar="true">
  <ion-content class="splash">
    <div class="vertical-align">
      <img id="bigstat_logo" class="logo" src="img/bigstat-logo-square-text-deep-blue.svg" alt="BigStat App">
    </div>
  </ion-content>
</ion-view>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
