<div class="prize-list {{vm.role}}">
<!-- <div class="prize-list"> -->
<!--<div class="prize-title {{vm.role}}">{{vm.role|roletext|uppercase}}</div>-->
  <ion-content class=" content body-content" ng-class="{'has-header':vm.forPicker}">
    <div class="row background-white role-name-wrapper col-custom">
      <div class="col col-50">
        <h2 class="page-caption">{{vm.role|roletext}}</h2>
        <!-- <ion-refresher pulling-text="Actualiser le palmarès..." on-refresh="vm.doRefresh()">
        </ion-refresher> -->
      </div>
      <div class="col col-50">
        <div class="item-input-inset item-custom-border">
          <!-- <biz-list-filter-input biz-for-tab="prize" biz-for-view="profile" biz-param1="{{vm.role}}" biz-on-filter="vm.onFilter"></biz-list-filter-input> -->
          <input class="input-custom " type="search" placeholder="Rechercher..." ng-model="search.fullName" 
          style="width:100%; padding-left:11px;" />
            <i class="icon ion-ios-search placeholder-icon filter-search-icon push-right"></i>
        </div>
      </div>
    </div>
    <div class="tabs-wrapper">
      <div class="row">
        <div class="col col-custom">
        <div class="button-bar tabs-wrapper">
          <button class="button button-light-custom button-light" ng-click="vm.setSegmentMode(true)" ng-class="{'active': vm.isFirstSegment}"><div class="custom-img first-tab"></div></button>
          <button ng-if="vm.role == 'director'" class="button button-light-custom button-light" ng-click="vm.setSegmentMode(false)" ng-class="{'active': !vm.isFirstSegment}"><div class="custom-img second-tab"></div></button> 
        </div>
        <div class="row">
          <div class="col col-20">
            <button class="button button-positive button-clear no-animation icon ion-chevron-left custom-icon-left"
              ng-click="vm.previous(slideIndex)">
            </button>
          </div>
          <div class="col col-60">
            <div class="button-outline-custom">
              <ion-slide-box on-slide-changed="slideChanged1(index)" delegate-handle="sliderone" show-pager="false" ng-if="vm.role == 'director'" >
                <ion-slide ng-repeat="slide in vm.getRoleFilters()" >
                 <p> {{slide.name}}</p>
                </ion-slide>
<!--                 <ion-slide ng-repeat="slide in vm.callSlides" ng-if="vm.role == 'calloperator'">
                  {{slide.name}}
                </ion-slide>
                <ion-slide ng-repeat="slide in vm.technicianSlides" ng-if="vm.role == 'technician'">
                  {{slide.name}}
                </ion-slide> -->

              </ion-slide-box>
              <ion-slide-box on-slide-changed="slideChanged2(index)" delegate-handle="slidertwo" show-pager="false"  ng-if="vm.role == 'calloperator'">
                <ion-slide ng-repeat="slide in vm.getRoleFilters()">
                 <p> {{slide.name}}</p>
                </ion-slide>
              </ion-slide-box>
              <ion-slide-box on-slide-changed="slideChanged3(index)" delegate-handle="sliderthree" show-pager="false" ng-if="vm.role == 'technician'">
                <ion-slide ng-repeat="slide in vm.getRoleFilters()"  >
                 <p> {{slide.name}}</p>
                </ion-slide>
              </ion-slide-box>


              <!-- <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" ng-if="vm.role == 'calloperator'">
                <ion-slide>
                  RDV exploité
                </ion-slide>
                <ion-slide >
                  Taux de fiabilité
                </ion-slide>
                <ion-slide>
                  Taux de vente sur RDV exploité
                </ion-slide>
                <ion-slide>
                  Taux de vente sur RDV total
                </ion-slide>
              </ion-slide-box>
              <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" ng-if="vm.role == 'technician'">
                <ion-slide>
                  revenue
                </ion-slide>
                <ion-slide >
                  quantité
                </ion-slide>
                <ion-slide>
                  panier moyen
                </ion-slide>
              </ion-slide-box> -->
            </div>
          </div>
          <div class="col col-20">
            <button class="button button-positive button-clear no-animation icon ion-chevron-right custom-icon-right" ng-click="vm.next(slideIndex)"> 
            </button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row month-selector-wrapper" style="padding:0px;">
      <div class="col col-80 background-white-list padding">
        <label class="item item-input item-select custom-item-select">
        <div class="input-label custom-p-label sales-rank">
          {{vm.salesRole|codetext}}
        </div>
          <!-- <select class="push-right-select" ng-model="vm.selectedMonth" ng-change="vm.showSelectValue(selected)"> -->
          <select class="push-right-select" ng-model="getMonthName" ng-change="vm.showSelectValue(getMonthName)">
            <option ng-repeat="month in vm.months"  ng-value="month">{{month}}</option>
            <!-- <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option> -->
          </select>
        </label>
        <div class="icon ion-chevron-down placeholder-icon push-right custom-icon-down">
        </div>
      </div>
    </div>
    <!-- <h1 class="title">{{vm.role|roletext}}</h1>
    <ion-refresher pulling-text="Actualiser le palmarès..." on-refresh="vm.doRefresh()">
    </ion-refresher> -->
    <!--<div class="small-margin"></div>-->
    <!-- <div class="list search-filter margin-top-xs">
      <biz-list-filter-input biz-for-tab="prize" biz-for-view="profile" biz-param1="{{vm.role}}" biz-on-filter="vm.onFilter"></biz-list-filter-input>
    </div> -->
    <ion-list class="roles-list-wrapper">
      <div ng-repeat="it in vm.items | filter: search" ng-click="vm.goToProfile(it)" class="row custom-padding-margin my-list-item">
        <div class="col col-85 background-white-list">
        <div class="card custom-card custom-card-new">
          <div class="item item-thumbnail-left" href="#">
            <img class="custom-item-thumbnail" style="background-image: url({{it.photoId|photopath}});background-size: 100% 100%;">
            <span class="custom-h2"><b>{{it.lastName}}</b>&nbsp;&nbsp;{{it.firstName}}</span>
            <p class="custom-p-disc">#{{it.bigz}}</p>
          </div>
        <button class="button button-light  custom-button button-outline button-outline-margin" ng-if="!vm.forPicker">
          {{$index+1}}
        </button>
        </div>
        </div>
        <div class="col col-15 custom-col-number">
          <ion-checkbox ng-model="it.checked" ng-if="vm.forPicker && vm.multiPicker"></ion-checkbox>
            <span class="value" ng-if="!vm.forPicker">{{it.sortValue}}</span>
        </div>
      </div>
    </ion-list>
  </ion-content>
</div>























