@font-face {
    font-family: 'avenir-next-bold';
    src: url('../fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
    font-family: 'avenir-next-thin';
    src: url('../fonts/avenir-next-thin.woff') format('woff');
}

@font-face {
    font-family: 'avenir-next-italic';
    src: url('../fonts/avenir-next-italic.woff') format('woff');
}

@font-face {
    font-family: 'avenir-next-regular';
    src: url('../fonts/avenir-next-regular.woff') format('woff');
}

@font-face {
    font-family: 'glyphiconshalflings-regular';
    src: url('../fonts/glyphiconshalflings-regular.woff') format('woff');
}
.tabs-striped .tabs {
    background-color: white;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: 2px;
    background-color: #213c61 !important;
}
.slider {
  position: relative !important;
}
.slider-slide {
  color: black;
  background-color:transparent;
  text-align: center;
}
.body-content{
    /*background-color: #f6f7fa!important;*/
    /*border-radius: 10px;*/
}
.tabs-wrapper{
    width: 97%;
    background-color: #f6f7fa !important;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
}
.col-custom{
    max-width: 90%
    }
.push-right{
	text-align: right;
    float: right;
}
.button-outline-custom {
    border-color: #fafafa;
    background: white;
    color: black;
    border-radius: 12px;
    margin-top: 0px !important;
    padding: 5px;
    padding-left: 8px;
    font-size: 16px;
    min-width: 100%;
    text-align: center;
    margin: auto auto 1px -4px !important;
    font-family: avenir-next-bold;
    min-height: 45px;
}
.button-outline-custom p {
    margin: 0 0 0px;
    text-align: -webkit-center;
    font-size: 21px;
    padding-top: 7px;
    margin-left: -4px;
    vertical-align: middle;

}
.input-custom {
    font-style: italic !important;
    font-family: avenir-next-regular !important;
    color: gray !important;
    font-size: 12px !important;
    // letter-spacing:2px;
}
input::-webkit-input-placeholder {
color: gray !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: gray !important;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: gray !important;
}
 
input:-ms-input-placeholder {  
color: gray !important; 
}
.prize .director .custom-img.first-tab {
    background: url(../img/images/salesman.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .director .custom-img.second-tab {
    background: url(../img/images/salesman-sup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .calloperator .custom-img.first-tab {
    background: url(../img/images/prospector.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .calloperator .custom-img.second-tab {
    background: url(../img/images/prospector-sup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .technician .custom-img.first-tab {
    background: url(../img/images/workforce.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .technician .custom-img.second-tab {
    background: url(../img/images/workforce-sup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .director .button.button-light.active .custom-img.first-tab,.prize .director .button.button-light.activated .custom-img.first-tab {
    background: url(../img/images/salesman-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .director .button.button-light.active .custom-img.second-tab,.prize .director .button.button-light.activated .custom-img.second-tab {
    background: url(../img/images/salesman-sup-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .calloperator .button.button-light.active .custom-img.first-tab,.prize .calloperator .button.button-light.activated .custom-img.first-tab {
    background: url(../img/images/prospector-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .calloperator .button.button-light.active .custom-img.second-tab, .prize .calloperator .button.button-light.activated .custom-img.second-tab {
    background: url(../img/images/prospector-sup-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .technician .button.button-light.active .custom-img.first-tab, .prize .technician .button.button-light.activated .custom-img.second-tab {
    background: url(../img/images/workforce-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .technician .button.button-light.active .custom-img.second-tab , .prize .technician .button.button-light.activated .custom-img.second-tab {
    background: url(../img/images/workforce-sup-active.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.prize .custom-img {
    height: 40px;
    width: 40px;
    min-height: 70%;
    min-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.prize .director .custom-img.second-tab {
    height: 45px;
    width: 44px;
    min-height: 75%;
    min-width: 73%;
    margin: auto;
    margin-bottom: 10px;
}
.button.button-light.active, .button.button-light.activated {
     border-color: transparent !important; 
    background-color: #fafafa;
}
.prize .director .button.button-light.active,.prize .director .button.button-light.activated{
    border-bottom: 5px solid #00D1FF !important;
}
.prize .calloperator .button.button-light.active,.prize .calloperator .button.button-light.activated{
    border-bottom: 5px solid #FF98F9 !important;
}
.prize .technician .button.button-light.active,.prize .technician .button.button-light.activated{
    border-bottom: 5px solid  #00FFAA!important;
}
.button-light-custom{
    background-color: transparent !important;
     width: 40%; 
    max-width: 18%;
    margin: auto;
    padding: 0px !important;
}
.img-custom {
    -webkit-user-drag: none;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}
.item-custom-border,.item-input-inset{
	border: none !important;
	margin-top: -12px;
    font-family: avenir-next-regular !important;
}
.custom-span{
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 20px;
    margin: auto auto !important;
    text-align: -webkit-center !important;
}
.custom-h2{
    font-family: avenir-next-bold;
    color: #484444 !important;
    margin: 0px 0 7px 0;
    padding-top: 8px;
    margin-left: -10px !important;
    font-size: 14px;
}
.custom-card{
	padding: 0px;
    margin: 10px;
   /* max-width: 65px;*/
    max-height: 80px;
    /*margin-top: 15px;*/
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
}
.custom-card.custom-card-new{
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.5) !important;
    border-radius: 8px;
    height: 85px;
}
.custom-icon-left{
    color:#575656 !important;
    float: right;
}
.custom-icon-right{
    color:#575656 !important;
    float:left;
}
.background-white-list {
    background-color: white;
    padding: 0px;
    max-width: 89%;
    min-width: 89%;
}
.custom-button{
    font-family:avenir-next-regular;
	min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    line-height: 25px;
    max-width: 25px;
    border-radius: 50%;
    z-index: 114 !important;
    background-color: #f6f7fa !important;
    left: 1px;
    position: fixed;
    padding:0px;
    color: black !important;
}
.prize .page-caption {
    font-family: avenir-next-bold;
    float: left;
    padding: 4px 15px 8px;
    color: white;
    border-radius: 8px;
    font-size: 15px;
}
.prize .director .page-caption {
     /*background: 00D1FF;*/
    /*background: linear-gradient(to right, #fffaff, #3ca8e2);*/
    background: linear-gradient(to right, #f0f9fd, #00D1FF);
}
.prize .calloperator .page-caption {
    /*background:  FF98F9;*/
    background: linear-gradient(to right, #fffaff, #FF98F9);
}
.prize .technician .page-caption {
    /*background: #00FFAA;*/
    background: linear-gradient(to right, #f6fffc, #00FFAA);
}
.placeholder-icon {
    color: #aaa;
    /* color: white; */
    float: right;
    font-size: 20px;
}
.filter-search-icon{
    padding: 0px;
    margin-right: 10px;
}
.custom-h1{
	font-size: 2rem;
    margin-top: -12px !important;
    padding-top: 0px;
}
.custom-p-disc{
   font-size: 11px !important;
    font-family: Arial!important;
    color: black !important;
    letter-spacing: 0.5px;
    margin-top: 10px;
     font-style: italic;
}
.custom-icon-down{
    margin-top: -30px;
    z-index: 1;
    color: black;
    position: relative;
    right: 10px;
    font-size: 20px;
}
.custom-p-label{
   font-size: 11px !important;
    color: #c1c1c1 !important;
    letter-spacing: -1px;
    margin-top: 5px;
    font-family: avenir-next-italic;   
}
.custom-p-label.sales-rank{
    font-size: 16px !important;
    margin-top: 2px;
}
/*.custom-card{
	 padding: 0px;
     margin: 10px;
     max-width: 65px;
    max-height: 65px;
   /* margin-top: 15px;*/

.custom-item-select{
    border: none !important;
    margin-bottom:-2px !important; 
    margin: 0px;
    background-color: transparent;
}

.push-right-select {
    font-family: avenir-next-regular;
    font-size: 12px;
    text-align: right;
    float: right;
    background-color: transparent!important;
    margin-top: 5px;
    padding: 0 35px 0 16px !important;
}
.item-select:after {
    display: none;
}
 .custom-item-thumbnail{
    position: absolute;
    top: 6px;
    left: 6px;
    max-width: 65px !important;
    max-height: 65px !important;
    min-width: 65px;
    min-height: 65px;
    background: 100% 100%;
   background-repeat: no-repeat;
    /*width: 100%
    height: 100%;*/}
.background-white{
	background-color:white;
	padding: 0px;
}
.custom-padding{
	padding:10px !important;
}
.custom-col-number{
	padding: 0px;
    margin: auto auto;
    text-align: -webkit-center;
    font-size: 16px;
    font-family:avenir-next-bold;
    color: #575656 !important;
    min-height: 84px;
    background-color: #f6f7fa;
    line-height: 84px;
    margin-top: 8px;
}
.row.custom-padding-margin.my-list-item:last-child .custom-col-number {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
}
.custom-padding-margin{
	padding:0px;
	margin: 0px;
}
.custom-padding-margin.my-list-item{
    width: 97%;
    /*margin: 0 auto;*/
    padding: 0px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.month-selector-wrapper{
    width: 97%;
    background-color: #f6f7fa;
        min-height: 55px;
    margin-top: -1px;
    margin-bottom: -10px;
    margin-left:auto;
    margin-right: auto;
}
.button-outline-margin{
    left: 6px;
    border-color: transparent !important;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.5) !important;
    margin-top: -30px;
}
.prize .director .bar-header,.prize .technician .bar-header,.prize .calloperator .bar-header {
    /* background-color: #3ca8e2; */
    background-color: transparent;
}
.prize .director .bar-header:after,.prize .technician .bar-header:after,.prize .calloperator .bar-header:after {
    display: none;
}
.prize .director .bar-header:before,.prize .technician .bar-header:before,.prize .calloperator .bar-header:before {
    display: none;
}
.custom-icon-arrow{
    position: absolute;
    right: 0;
    line-height: 34px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    padding-left: 24px;
    border: 0px;
    background: transparent;
}

.bar .custom-icon-arrow .ion-chevron-right:before{
    font-size: 24px !important;
}

.custom-icon-arrow-left{
    line-height: 34px;
    position: absolute;
    font-size: 26px;  
    width: 40px;
    height: 40px;
    left: 0; 
    border: 0px;
    background: transparent;
}
.bar .custom-icon-arrow-left .ion-chevron-left:before{
    font-size: 24px !important;
}
.role-name-wrapper{
    height: 44px;
    margin-top: 41px;
}
.platform-ios .role-name-wrapper{
    margin-top: 63px;
}
.button.icon-left:before {
    float:left;
    padding-right: .2em;
    padding-left: 0;
    font-size: 20px;
}
.button.icon-right:before {
    float: right;
    padding-right: .2em;
    padding-left: 0;
    font-size: 20px;
}
.prize .bar-header.bar{
    background-position: top;
    border: none;
    
}

.roles-list-wrapper .list{
    padding-bottom: 60px;
}

.tabs-wrapper{
    min-height: 80px;
}



/*////media screen iphone 5*/
 /*$break-small: 320px;
 $break-large: 1200px;*/
 @media screen and (max-width: 320px) {
.prize .page-caption{
 font-size:14px ;
  }
.button-outline-custom p {
    font-size: 15px !important;
}
.col-custom{
    max-width: 100%;
    }
}
@media screen and (max-width: 360px) {
.prize .page-caption{
 font-size:14px ;
  }
.button-outline-custom p {
    font-size: 15px !important;
}
}
