body {
    background-color: #ffffff;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.space-right {
    width: 90%;
}

.cstm-container {
    /*background-color: #f6f7fa;*/
    max-width: 480px;
}

.body-content {
    background-color: #f6f7fa;
    border-radius: 8px;
    color: #1d2f4b;
}

header {
    padding-bottom: 15px;
    padding-top: 15px;
}

.page-caption {
    float: left;
    padding: 5px 22px;
    color: #ffffff;
    border-radius: 8px;
}

.page-search {
    float: right;
}

.page-search input[type=search] {
    height: 45px;
    border: none;
    font-size: 18px;
    width: 120px;
}

.search-icon {
    background: url(../img/search-icon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 10px 0;
    float: right;
}

.bg-nav {
    background-color: #ffffff;
}

.page-navigator {
    padding: 10px 0px;
    border-bottom-left-radius: 8px;
    background-color: #f6f7fa;
}

.page-navigator .nav-text {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
}

.btn-back, .btn-forward {
    width: 50px;
    height: 50px;
    font-size: 32px;
    display: inline-block;
    border-radius: 8px;
    color: #1d2f4b;
}

.btn-back:hover, .btn-forward:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.tab-content {
    background-color: #ffffff;
    font-size: 18px;
}

.tab-header {
    background-color: #f6f7fa;
}

.tab-header-inner {
    padding: 20px 15px 20px 0;
    background-color: #ffffff;
}

.tab-header p {
    display: inline;
    color: #787878;
}

.tab-body-item {
    padding-bottom: 15px;
    position: relative;
}

.tab-body-item:last-child .item-right {
    border-bottom-right-radius: 8px;
}

.item-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    background-color: #f6f7fa;
    text-align: center;
    vertical-align: middle;
}

.item-right span {
    line-height: 105px;
    font-weight: bold;
}

.item-left {
    padding-right: 15px;
    width: 90%;
    position: relative;
}

.media-item {
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
    border-radius: 8px;
    height: 105px;
    padding: 10px;
}

.media-item .media-left .media-object {
    width: 85px !important;
    height: 85px !important;
}

.text-light {
    font-weight: normal;
}

/*Select styles*/
select {
    border: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding-right: 20px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
}


/*arrows*/
select.minimal {
    background-image: url(../img/drop-arrow.jpg);
    background-position: right;
    background-size: 15px 15px, 15px 15px, 3px 3.5em;
    background-repeat: no-repeat;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
/*Select styles End*/
.round-counter {
    position: absolute;
    bottom: -5px;
    left: -5px;
    background: #f6f7f9;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.5);
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    width: 50%;
    padding: 10px 78px;
}

.nav-tabs > li > a {
    margin-bottom: 5px;
    padding: 10px;
    margin-right: 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li > a {
    background-color: transparent;
    border: none;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a {
    margin-bottom: 0px;
    border-bottom: 5px solid;
}

.nav-tabs > li > a span {
    width: 40px;
    height: 48px;
    display: block;
}
/*Theme specific styling*/

/*prospector*/
.prospector .page-caption {
    background: -moz-linear-gradient(to right, #f0f9fd, #00D9FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f0f9fd, #00D9FF); /* Standard syntax (must be last) */
}

.prospector .nav-tabs > li.active > a {
    border-color:#00D9FF;
}

.prospector .nav-tabs > li > a.first-pill > span {
    background: url(../img/prospector.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.prospector .nav-tabs > li.active > a.first-pill > span {
    background: url(../img/prospector-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.prospector .nav-tabs > li > a.second-pill > span {
    background: url(../img/prospector-sup.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.prospector .nav-tabs > li.active > a.second-pill > span {
    background: url(../img/prospector-sup-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

/*salesman*/
.salesman .page-caption {
    background: -moz-linear-gradient(to right, #fffaff, #FF98F9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fffaff, #FF98F9); /* Standard syntax (must be last) */
}

.salesman .nav-tabs > li.active > a {
    border-color:#FF98F9;
}

.salesman .nav-tabs > li > a.first-pill > span {
    background: url(../img/salesman.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.salesman .nav-tabs > li.active > a.first-pill > span {
    background: url(../img/salesman-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.salesman .nav-tabs > li > a.second-pill > span {
    background: url(../img/salesman-sup.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.salesman .nav-tabs > li.active > a.second-pill > span {
    background: url(../img/salesman-sup-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

/*workforce*/
.workforce .page-caption {
    background: -moz-linear-gradient(to right, #f6fffc, #00FFAA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f6fffc, #00FFAA); /* Standard syntax (must be last) */
}

.workforce .nav-tabs > li.active > a {
    border-color:#00FFAA;
}

.workforce .nav-tabs > li > a.first-pill > span {
    background: url(../img/workforce.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.workforce .nav-tabs > li.active > a.first-pill > span {
    background: url(../img/workforce-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.workforce .nav-tabs > li > a.second-pill > span {
    background: url(../img/workforce-sup.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.workforce .nav-tabs > li.active > a.second-pill > span {
    background: url(../img/workforce-sup-active.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}
