.popover-more {
  height: 160px;
  width: 150px; }

.rdv .tab-title {
  color: #A9A4E2; }

.rdv.tab-item-active {
  border-bottom: 4px solid #A9A4E2; }

.sale .tab-title {
  color: #67C1A6; }

.sale.tab-item-active {
  border-bottom: 4px solid #67C1A6; }

.pands .tab-title {
  color: #FFE871; }

.pands.tab-item-active {
  border-bottom: 4px solid #FFE871; }

.client .tab-title {
  color: #EC77B2; }

.client.tab-item-active {
  border-bottom: 4px solid #EC77B2; }

.tabs-light-style .tabs {
  background-color: transparent;
  border: none;
  height: 40px;
  line-height: 50px; }

.main-tabs .tabs .tab-item {
  color: #cccccc; }
  .main-tabs .tabs .tab-item.activated {
    color: #cccccc; }
  .main-tabs .tabs .tab-item.tab-item-active {
    color: white; }

.list .item:not(.first-item) {
  border-bottom: none;
  border-left: none;
  border-right: none; }

.item-input-wrapper {
  background-color: transparent;
  border-radius: 0; }
  .item-input-wrapper input {
    width: 100%; }

.search-filter .item-input-wrapper {
  padding-left: 0;
  padding-right: 0; }

.search-filter .item {
  padding: 5px; }

.search-filter .create {
  text-align: right; }

.search-filter .search-filter-panel .button {
  color: #4d4d4d;
  min-height: 30px;
  height: 30px; }
  .search-filter .search-filter-panel .button:before {
    line-height: 30px; }

.search-filter a {
  font-weight: bold; }

input {
  font-size: 1.0em;
  font-style: italic; }

.result .list .item {
  padding: 0;
  margin-bottom: 10px; }
  .result .list .item .item-content {
    padding: 0; }
  .result .list .item .name {
    font-weight: bold; }
  .result .list .item .type {
    font-style: italic; }
    .result .list .item .type.type-client {
      color: #67C1A6; }
    .result .list .item .type.type-retracted {
      color: #EC7C85; }
    .result .list .item .type.type-prospect {
      color: #A9A4E2; }

.result .item-options .button-light:before {
  font-size: 32px; }

.shadow-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.create-client .switch .button {
  font-size: 14px;
  min-height: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid gray; }

.create-client .left-input-container {
  padding-right: 5px; }

.create-client .right-input-container {
  padding-left: 5px; }

.create-client .row {
  margin-top: 5px; }

.create-client .map-container {
  margin: 0 auto;
  position: relative; }
  .create-client .map-container .angular-google-map-container {
    width: 150px;
    height: 150px; }
  .create-client .map-container .view-map {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 70px;
    background-color: white;
    padding: 10px; }
.body-content{
  background-color:gray !important;
}